.providencia{

background-image: -moz-linear-gradient(180deg, rgb(238, 238, 252), rgb(14, 14, 15));

background-image: -webkit-linear-gradient(180deg, rgb(238, 238, 252), rgb(14, 14, 15));

background-image: linear-gradient(180deg, rgb(238, 238, 252), rgb(14, 14, 15));
background-size: 300% 100%;

}

